.App {
  text-align: center;
}

#root{
  width:100%;
}

.NavItemTop {
  color: white;
}

.NavItemBottom {
  color: black;
}

.NavBarTop {
  min-height:30px !important;
}
.navbar{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.myNavTop.navbar-nav li a {
    padding:0 10px;
    line-height:30px;
}
.myNavBottom.navbar-nav li a {
    padding:0 15px;
    line-height:30px;
}
.myNavItemBottomOthers a {
    padding:0 15px;
    font-size:18px;
    margin-top:15px;
}

.container{
    width:100%;
}

#basic-nav-dropdown{
  color: white;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}